<div class="alert mt-2 alert-{{type}}" role="alert">
    <p class="row justify-content-md-center">{{msg}}</p>
</div>

<div class="row my-2">
    {{#each items}}
    <div class="col-md-6">
        <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative rounded">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">By: {{this.author}} </strong> 
                <p class="badge badge-success w-25">Genres: {{this.genres}} </p>
                <h3 class="mb-0">{{this.title}}</h3>
                <div class="mb-1 text-muted">{{this.date}}</div>
                <p class="card-text mb-auto text-truncate">{{this.body}}</p>
                <a href="/{{this._id}}">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
            </div>
        </div>

    </div>

    {{/each}}
</div>